.features {
  height: 1100px;
}
.features__list {
  display: flex;

  margin: 0;
  padding: 0;
  &--grey {
    background: #eeeeee;
  }
  &--blue {
    background-color: #81b3d2;
    color: #ffffff;
  }
}
.features__item {
  margin: 0;
  padding: 0 50px;
  height: 256px;
  width: 33.3%;

  color: #333333;
  &--image {
    width: 66.7%;
    background-size: contain;
  }
  &--image-1 {
    background: url(../../img/features-image-1.jpg) no-repeat center;
    background-size: cover;
  }
  &--image-2 {
    background: url(../../img/features-image-2.jpg) no-repeat center;
    background-size: cover;
  }
  &--icon {
    height: 330px;
  }
}
.features__item-title {
  margin: 0;
  padding-top: 48px;
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;

}
.features__item-name {
  margin: 0;
  padding-top: 25px;
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
}
.features__item-sub {
  margin: 0;
  padding-top: 25px;
  font-size: 14px;
  line-height: 21px;
}
.features__item-text {
  margin: 0;
  padding-top: 25px;
  font-size: 14px;
  line-height: 21px;
}
.features__icon {
  display: block;
  margin: 0 auto;
  margin-top: 50px;

  height: 80px;
  width: 80px;
  &--house {
    background: url(../../img/icon-1.svg) no-repeat;
  }
  &--food {
    background: url(../../img/icon-3.svg) no-repeat;
  }
  &--gift {
    background: url(../../img/icon-2.svg) no-repeat;
  }
}