.main-nav__list {
  display: flex;

  padding: 0 6%;
  margin: 0;

  list-style: none;
  min-width: 768px;
}
.main-nav__item {
  width: 20%;
  text-align: left;
  padding-top: 15px;
  padding-bottom: 15px;
  
  &:nth-child(2) {
    margin-right: 20%;
  }
  &:nth-child(-n+2) {
    text-align: left;
  }
  &:nth-last-child(-n+2) {
    text-align: right;
  }
}

.main-nav__link {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}