.popup {
  display: none;
  width: 568px;
  min-height: 395px;
  padding: 55px 55px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 30px -4px rgba(0, 0, 0, .4);
  z-index: 10;
  &--show {
    display: block;
  }
}

.popup__form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.popup__inner {
  margin: 0;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;

  &--date {
    flex-grow: 1;
  }
}

.popup__label {
  display: block;
  font-weight: bold;
}

.popup__wrap {
  position: relative;
  display: block;

  &--date {
    position: relative;
    display: block;
    width: 346px;
  }

  &--adults {
    width: 114px;
    margin-left: 40px;
  }

  &--children {
    width: 114px;
    margin-left: 27px;
  }
}

.popup__input {
  display: block;
  height: 38px;
  border: none;
  background-color: #f2f2f2;
  font-weight: bold;
  text-transform: uppercase;

  &--date {
    width: 346px;
    padding-left: 10px;
  }

  &--people {
    width: 114px;
    padding: 0 40px;
    text-align: center;
  }
}

.popup__btn {
  position: absolute;
  display: block;
  font-size: 0;
  border: none;
  background-color: #f2f2f2;

  &:hover {

    &::before,
    &::after {
      background-color: #000000;
    }
  }

  &:active {

    &::before,
    &::after {
      background-color: #81b3d2;
    }
  }

  &--date {
    right: 8px;
    top: 9px;
    width: 21px;
    height: 22px;
    padding: 0;
  }

  &--plus {
    left: 10px;
    top: 9px;
    height: 20px;
    width: 20px;

    &::after {
      content: "";
      position: absolute;
      left: 4px;
      top: 9px;
      width: 12px;
      height: 4px;
      background-color: #a9a9a9;
    }
  }

  &--minus {
    right: 10px;
    top: 9px;
    height: 20px;
    width: 20px;

    &::after,
    &::before {
      content: "";
      position: absolute;
      background-color: #a9a9a9;
    }

    &::after {
      left: 4px;
      top: 8px;
      width: 12px;
      height: 4px;
    }

    &::before {
      top: 4px;
      left: 8px;
      width: 4px;
      height: 12px;
    }
  }
}

.popup__calendar path {
  fill: #cacaca;
}

.popup__calendar:hover path {
  fill: #000000;
}

.popup__calendar:active path {
  fill: #81b3d2;
}