.search {
  height: 290px;
}
.search__title {
  padding-top: 39px;

  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
}
.search__text {
  padding-top: 30px;
  
  font-size: 14px;
  line-height: 24px;
  color: #333333;
}